################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/david-webapi/.vs/david-webapi/DesignTimeBuild/.dtbcache.v2
*.vsidx
/david-webapi/.vs
